body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #0D0A0B;
    font-size: 11.5pt;
}

li {
    text-align: -webkit-match-parent;
}

ul {
    list-style-type: disc;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

h2 {
    font-size: 1.6em;
    margin: 1em 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    color: #336791;
    /* margin: 0 0 0.5em 0; */
}

p {
    margin-bottom: 0.5rem;
}

.table td, .table th {
    padding: 0.5rem;
}

b, strong, th {
    font-weight: 700;
    color: #474747 !important;
}

footer img {
    height: 2rem;
    margin-bottom: 1rem;
}

img {
    border-style: none;
}

.pg-shout-box {
    background-color: #336791;
    font-weight: 600;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
}

.pg-shout-box a {
    color: white;
    text-decoration: underline;
}

#pgContentWrap h2, #pgSideNav h2 {
    display: flex;
    flex-direction: row;
}

#pgContentWrap {
    padding: 1em 2em;
    margin: 0 auto;
    width: 100%;
}

#pgSideNav {
    padding: 1em;
}

#pgSideNav a {
    color: #336791;
}

.container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#pgSideNav ul {
    list-style-type: circle;
    padding-left: 1.3em;
}

a, .news a {
    color: #336791;
    font-weight: 600;
    text-decoration: none;
    -moz-transition: color .2s ease-in-out;
    -webkit-transition: color .2s ease-in-out;
    -ms-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
}

#pgContentWrap .fa, #pgContentWrap .far, #pgContentWrap .fas, #pgContentWrap .fab {
    color: #336791;
    margin: 0 5px;
}

.col-lg-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
}

.col-lg-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 83.333333%;
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.fa, .fas {
    font-weight: 900;
}

.fa, .far, .fas {
    font-family: Font Awesome\ 5 Free;
}

.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.margin {
    margin: 0 auto 4em auto;
}

i, em {
    font-style: italic;
}

article, aside, footer, header, nav, section {
    display: block;
}

dl, ol, ul {
    margin-bottom: 0.5rem;
}

.col-md-12 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
        position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#footer {
    text-align: center;
    padding: 5em 0 2em 0;
}

#footer ul {
    cursor: default;
    padding: 0;
}

#footer a {
    color: #336791;
}